body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 12px 16px;
  text-align: right;
  background: #020617;
}

.brand {
  font-weight: bold;
  color: #38bdf8;
}

.ad-box {
  width: 50%;
  height: 30vh;
  background: black;
}

.ad-box video {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

main {
  padding: 15px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

button:disabled {
  opacity: 0.5;
}
